table, td {
	border : 1px solid black;
}

#menu {
	background : #eeeeee;
	width : 200px;
	overflow-x : hidden ;
	overflow-y : auto;
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	z-index : 10;
}

#content {
	margin-left: 200px;
}

.LEFT {
	float : left;
}
