{% extends "body.html" %}
{% load static %}

{% block javascript %}
	{% include "javascript.html" %}
	<script type="text/javascript" src="{% get_static_prefix %}js/core.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}js/duel.js"></script>
{% endblock %}

{% block menu %}
	{% include "menu.html" %}
	{% include "menu_type.html" %}
{% endblock %}

{% block content %}
<h1 id="title">Duel Statistics</h1>
<h2>Kill</h2>
<div id="killChart" style="width:300px;height:300px"></div>
<h2>Kill by Weapon</h2>
<div id="WeaponChart"></div>
{% endblock %}