{% load static %}
<script type="text/javascript" src="{% get_static_prefix %}js/lib/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/lib/jquery.flot.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/lib/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/lib/jquery.flot.stack.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/lib/jquery.ba-bbq.min.js"></script>