{% extends "body.html" %}
{% load static %}

{% block javascript %}
	{% include "javascript.html" %}
	<script type="text/javascript" src="{% get_static_prefix %}js/core.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}js/player.js"></script>
{% endblock %}

{% block content %}
<h1 id="title">Player Statistics</h1>
<div id="general" style="width:500px;height:300px"></div>
<h2>GPU</h2>
<div id="gpu" style="width:700px;height:700px"></div>
<h2>CPU Core</h2>
<div id="cpucore" style="width:700px;height:700px"></div>
<h2>CPU Speed</h2>
<div id="cpuspeed" style="width:700px;height:700px"></div>
{% endblock %}